.password label, 
.password #cancel_link {
  font-weight: bold;
  font-size: smaller;
}
.password:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.password {
  padding: 0.2em 1em;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background: #ccc;
  width: 25em;
}

.password legend {
  font-weight: bold;
}

.password a { color: #888; }
.password a:visited { color: #888; }
.password a:hover { color: #000; background:#ccc; }

.password input[type=text], 
.password input[type=password] {
  padding: 2px 0;
  margin: 0;
  /*width: 15em;*/
}

.password input[type=submit] {
  padding: 0;
  margin: 0 2px;
}

.password .formErrorMsg {
  font-size: x-small;
  color: red;
  margin-left: 2em;
}
